<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VerifyY - Verify what affects what! - {% block pagetitle %}{% endblock %}</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
{% block extrahead %}{% endblock %}
</head>
<body>

<div id="all">

    <div id="header">
        <img src="/static/images/header.png" />
        <div id="subheader">

        	<span id="menu">
			&nbsp;
            {% if request.user.is_authenticated %}
            Welcome {{ user.username }}
            {% else %}
			<span class="menu_item">
			<a href="/login">login</a> 
            </span>
            {% endif %}
		</span>
        </div>
    </div> 

    <div id="content">
		{% block search %}{% endblock %}
        
		{% if error_message %}
        <div class="error">{{ error_message }}</div>
        {% endif %}
        
        {% if info_message %}
        <div class="info">{{ info_message }}</div>
        {% endif %}
        
		{% block content %}{% endblock %}

  </div>

</div>
<div class="space" style="min-height: 20px"></div>
<div id="footer">
&copy;VerifyY | <a href="/">VerifyY Home</a> | <a href="/faq">FAQ</a> | <a href="/privacy">Privacy Policy </a></div>

</body>
</html>

