<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" content="Create experiments!" />

<title>VerifyY - {% block pagetitle %}{% endblock %}</title>
<link href="/static/css/verifyy.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js"></script>
{% block extrahead %}{% endblock %}
</head>

<body class="main_page">

<div style="left: 0; right: 0;" class="main_page_menu_bar">
    {% include "menu.html" %}
</div>

{% block search %}
<div style="width: 1000px; margin-left: auto; margin-right: auto">
    <div style="margin-top: 10px;" class="main_page_header">
        <div style="position: relative; left: 80px; top: 90px;">
            <form action="/search" method="get">
                <input class="search_box" name="q" id="search_bar" type="textbox" style="width: 330px; height: 22px;">
            </form> 
        </div>
    </div>
</div>
{% endblock %}

<div id="main_page_content" style="width: 100%">
    <div id="content" style="width: 1000px; margin-left: auto; margin-right: auto;">
		{% if error_message %}
        <div class="error">{{ error_message }}</div>
        {% endif %}
        
        {% if info_message %}
        <div class="info">{{ info_message }}</div>
        {% endif %}
        
		{% block content %}{% endblock %}
  	</div>
</div>

<div class="space" style="min-height: 20px; clear: both"></div>
<div id="main_page_footer">
<strong>NOTE: VerifyY is currently in BETA testing, some or all data may be lost, changed, corrupted<br/></strong>
&copy;VerifyY | <a href="/">VerifyY Home</a> | <a href="/faq">FAQ</a> | <a href="/privacy">Privacy Policy </a></div>

</body>

</html>

