{% extends "base.html" %}

{% block pagetitle %}
	{{ user.username }} profile
{% endblock %}

{% block extrahead %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px;">
	<div class="box_header">add a friend</div>
	<form action="/friends/" method="get">
		<input type="text" value="" name="add" />
		<input type="submit" value="Add Friend" />
	</form>
</div>

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px; margin-top: 8px;">
	<div class="box_header">friends</div>
	{% for friend in list %}
	<a href="/user/{{friend.friend.username}}">{{friend.friend.username}}</a> (<a href="/friends/?remove={{friend.friend.username}}">delete</a>) {% empty %}
	Sorry! You have no friends yet :(
	{% endfor %}
</div>

{% endblock %}
