{% extends "base.html" %}

{% block pagetitle %}
Welcome!
{% endblock %}

{% block extrahead %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

<div class="space" style="min-height: 10px"></div>
<div style="width: 500px; margin-left: auto; margin-right: auto;">
	<div style="font-size: 14pt;">search for experiments...</div>
    <form action="/search" method="get">
        <input name="q" id="search_bar" type="textbox">
    </form> 
    <div class="help_text" style="width: 100%; text-align: right;">
        e.g how apples affect health<br>
             how sleep affects marks
    </div>
</div>
<div class="space" style="min-height: 10px"></div>
<h2>Popular experiments...</h2>
<div>
{% include "list.html" with no_results_message="No experiments available yet." %}
</div>

{% endblock %}
