{% for exp in list %}

<div style="clear: both; height: 5px;"></div>
<div class="experiment_listing_dividor" style="clear: both; margin: 0px;"></div>
<div style="clear: both; height: 5px;"></div>

<div class="experiment_listing">
    <div class="experiment_listing_details">
        <div class="experiment_listing_vote" style="float: left;">
            {{ exp.votes }}
            <!-- <div class="experiment_listing_vote_desc">votes</div> -->
        </div>
        <!--
        <div class="experiment_number experiment_users" style="float: left;">
            {{ exp.subscription_set.all.count }}
            <div class="experiment_number_desc">users</div>
        </div>
        <div class="experiment_number experiment_entries" style="float: left;">
            {{ exp.data_set.all.count }}
            <div class="experiment_number_desc">data</div>
        </div>
        -->
    </div>
    <div class="experiment_listing_summary" style="float: left; max-width: 650px;">
        <div class="experiment_listing_name"><a href="/view/{{ exp.pk }}"><span class="experiment_listing_y_name">{{ exp.y_name }}</span> <span class="experiment_listing_verb">with</span> <span class="experiment_listing_x_name">{{ exp.x_name }}</span></a></div>
    	<div class="experiment_listing_desc">{{ exp.description }}</div>
        <div class="experiment_listing_extra"> <strong>{{ exp.subscription_set.all.count }}</strong> user(s) &nbsp;&nbsp;&nbsp; <strong>{{ exp.data_set.all.count }}</strong> data point(s) </div>
    </div>
</div>
{% empty %}
	{{ no_results_message }}
{% endfor %}

<div style="clear: both; height: 5px;"></div>
<div class="experiment_listing_dividor" style="clear: both; margin: 0px;"></div>
<div style="clear: both; height: 5px;"></div>