{% extends 'base.html' %}

{% block search %}{% endblock %}

{% block content %}

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px; margin-top: 8px;">
	<div class="box_header">login</div>
	<div style="margin-top: 20px;">
		<form action="/login" method="post">
			<table>
				<tr>
					<td>Username:</td>
					<td><input name="username" type="text" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input name="password" type="password" /></td>
				</tr>
			</table>
			<div style="height:8px;"></div>
			<input value="login" type="submit" />
		</form>
		<br>
<a href="http://www.facebook.com/dialog/oauth?scope=offline_access,email,publish_stream&client_id=205425319498174&redirect_uri=http://localhost:8000&response_type=code">Facebook Connect</a>
<br />
<br />
                
	<a href="/register">Create an account</a>
	</div>
</div>

 {% endblock %}
