{% extends "base.html" %}

{% block pagetitle %}
Welcome!
{% endblock %}

{% block extrahead %}
<style type="text/css">
.experiment {
}
.experiment_name {
	font-size: 14pt;
}
.x_name, .y_name {
}

.experiment_desc {
	color:#444;
}

.experiment_extra {
	color:#999;
	font-size: 9pt;
}

</style>
{% endblock %}

{% block content %}

<div class="space" style="min-height: 10px"></div>

{% if search %}

    <div style="width: 650px;" class="rounded_big_box centered_box">
    <div class="box_header">search results</div>
    {% include 'list.html' with no_results_message="No results founds" %}
    </div>
{% else %}
    <div class="centered_box rounded_small_box" style="width: 200px; text-align: center;">
     	<div class="box_header">examples</div>
        <div style="text-align: center; font-size: 15px;">
       		how apples affect health<br />
            what apples affect<br />
            what affects health
        </div>
    </div>
{% endif %}

{% endblock %}
