{% extends "base.html" %}

{% block pagetitle %}
	{{ user.username }} profile
{% endblock %}

{% block extrahead %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}


<div style="min-height: 20px;">
</div>

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px; margin-top: 8px;">
<div class="box_header">user</div>
<strong>{{ user.username }}</strong> <br />
Joined on {{ user.date_joined }}
</div>

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px; margin-top: 8px;">
<div class="box_header">experiments created</div>
{% include 'list.html' with exp=user.experiments.all %}
</div>

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px; margin-top: 8px;">
<div class="box_header">experiments joined</div>
{% include 'list.html' %}
</div>

<div class="rounded_big_box centered_box" style="background-color: #FFF; width: 740px; margin-top: 8px;">
<div class="box_header">data points submitted</div>
{% include 'data.html' %}
</div>

{% endblock %}
